<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722006240018-pqts4r3f7gkq73oppeq5p03jvmfcfrda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722006240018-pqts4r3f7gkq73oppeq5p03jvmfcfrda</string>
	<key>API_KEY</key>
	<string>AIzaSyDIwLkHFIkLg7B9-c2ikKK-td5ZsmU9pMg</string>
	<key>GCM_SENDER_ID</key>
	<string>722006240018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Karagulburak.InstaCloneFirebaseBsc</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-50c7c</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-50c7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722006240018:ios:f5ebf89fc53e5e7ff0e1cb</string>
</dict>
</plist>